<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous"
  >
  <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" /><link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" /><link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.1/dist/terminal.min.css" />
  <link rel="stylesheet" href="/stylesheets/grid.css">
  <title><%= title %></title>
</head>
<body class="terminal">
  <header class="p-3 bg-dark text-white">
    <%- include('../partials/home-nav') %>
    
  </header>
<main class="bg-light grid">
  <article>
    <% if (profile.avatar) { %>
      <img src="<%= profile.avatar %>" 
        alt="<%= profile.name %>'s avatar"
        height="200px" width="200px">
    <% } else {%>
      <img
        src="/images/icons/user.png" 
        alt="A placeholder avatar"
        height="200px" width="200px">
    <% } %> 
    <div class="text"> 
      <h2 class="profile-name"><%= profile.name %></h2>
      <% if (user.profile._id.toString() === profile._id.toString()) { %>
       </p>
          <% if (user.profile._id.toString() === profile._id.toString()) { %>
         <a class="text-decoration-none" id="editBtn" href="/profiles/<%= profile._id %>/edit">
             <button class="btn btn-light">Edit Profile</button>
         </a>
         <br>
         <br>
         <a class="text-decoration-none " id="logoutBtn" href="/auth/logout">
             <button class="btn btn-danger">Logout</button>
         </a>
          <% } %>
    </div>
  </article>
<% } %>
</article>
<br>
</main>



<%- include('../partials/footer') %>