<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/lightslider.css" />
        <!--Jquery-->
        <script type="text/javascript" defer src="/javascripts/JQuery3.3.1.js"></script>
        <script type="text/javascript" defer src="/javascripts/lightslider.js"></script>
        <script defer src="/javascripts/script.js" type="text/javascript"></script>
    <title><%= title %></title>
    <!-- <title>Aliases Card Grid</title> -->
  </head>
  <body>
    <!-- *navbar and section p tag need to fit as well!!!!!!!! -->
    <div class="container">
      <!--slider------------------->
      <ul id="autoWidth" class="cs-hidden">
        <!--1------------------------------>
        <!-- write a sentence explaing what this grid/db is doing and how to view it -->
        <% aliases.forEach( alias => { %>
        <li class="item-a">
          <!-- slider=box -->
          <div class="box">
            <p class="marvel"><%=alias.aliasId %></p>
            <!-- model -->
            <img
              src="<%= alias.image %>"
              alt="<%= alias.name %>'s comic book image"
              height="350px"
              width="350px"
              class="model"
            />
            <!-- details -->
            <div class="details">
              <!-- logo-character special font for name -->
              <h2 class="logo"><%=alias.name %></h2>
              <!-- character details -->
              <a
                class="text-decoration-none btn"
                id="statsBtn"
                href="/aliases/<%= alias._id %>"
              >
                <button class="btn btn-danger">View Record</button>
              </a>
            </div>
        </div>
    </li>
    <% }) %>
      </ul>
    </div>
  </body>
</html>
