<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous"
    >
    <link rel="stylesheet" href="/stylesheets/grid.css" />
    <link rel="stylesheet" href="/stylesheets/welcome.css">
    <title><%= title %></title>
<!-- <title>Aliases Card Grid</title> -->
<body>
    <!-- navbar -->
    <!-- write a sentence explaing what this grid/db is doing and how to view it -->
<main class="grid">
   
  <article>
     <!-- Image goes here -->
     <% if (alias.image) { %><%# if an image exists %> 
    <img src="<%= alias.image %>" alt="<%= alias.name %>'s comic book image" height="300px" width="300px" />
    <% } else {%>
      <img src="◉" alt="placeholder image">
      <% } %>
    <div class="text">
      <h2 class="alias-name">Name: <%=alias.name  %></h2>
      <p class="alias-aliasId">Id: <%=alias.aliasId  %></p>
      <p class="alias-alias"> Alias Name: <%= alias.alias %></p>
      <p class="alias-comicId"> Alias Id: <%= alias.comicId %></p>
      <!-- since this list is long maybe this can go on the back and make this a flip card -->
      <p class="alias-comicsTotal"> Total Comics featuring this Variant# <%= alias.comicsTotal %></p>
      <p class="alias-seriesTotal"> Total Series featuring this Variant# <%= alias.seriesTotal %></p>
      <p class="alias-storiesTotal"> Total Stories featuring this Variant# <%= alias.storiesTotal %></p>
      <p class="alias-eventsTotal"> Total Iconic Events featuring this Variant# <%= alias.eventsTotal %></p>
      <!-- when they click this button the image div slides up to reveal the details I CAN DO THIS! -->
      <a class="text-decoration-none btn" id="statsBtn" href="/aliases/">
        <button class="btn btn-danger">Go Back</button>
      </a>

    </div>
  </article>
</a>

</main>
</body>
</html>   